header {
  text-align: center;
  background-color: #25373c;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  z-index: 1000;
}

header h1 {
  
  height: 100px;
  color: #e3ba6a;
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.leftColumStyle{
  height: 900px;
  width: 450px;
  padding-top: 100px;
  border-width: 10px;
  border-color: #283b40;
  border-style: groove;
  background-color: #25373C;
}

.up{
  height: 80px;
  width: 450px;
  color:#e2ae45;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: rgb(29, 69, 80);
  border-bottom-color: #506b72;
  border-color: #506b72;
  border-width: 5px;
}

.mid {
  height: 80px;
  width: 450px;
  color:#e2ae45;
  border-radius: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  background-color: rgb(29, 69, 80);
  border-bottom-color: #506b72;
  border-color: #506b72;
  border-width: 5px;
}

.down{
  height: 80px;
  width: 450px;
  color:#e2ae45;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: rgb(29, 69, 80);
  border-bottom-color: #506b72;
  border-color: #506b72;
  border-width: 5px;


}

.textButton{
  text-align: center;
  font-size: 30px;
  vertical-align: middle;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.container{
  width: 100%;
}

footer{
  text-align:end;
  background-color: #25373c;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;

}

footer p {
  
  height: 100px;
  color: #e3ba6a;
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}