#lousa_interativa_espaco {
    height: 100%;
    padding: 10px;
    color: white;
}

#lousa {
    border: 2px black solid;
    background-color: white;
}

#lousa_configuracoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}

#apagar {
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #e63946;
}

#apagar:hover {
    background-color: #c9303a;
    cursor: pointer;
}