.popUp_Fundo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999; /*Pra garantir que fica emcima dos outros*/
}

.popUp_Fundo.ativo {
    display: flex;
}

.popup_Display {
    display: none;
}


#caixa_popUp {
    border: 1px rgba(168, 168, 168, 0.648) solid;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    border-radius: 10px;
    height: 350px;
    width: 550px;
    position: relative;
    background-color: aliceblue;
}

.botao_Fechar{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}

/*newsletter*/

#newsletter {
    padding: 30px 10px 10px 10px;
    flex-direction: column;
}

#newsletter h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#newsletter p {
    font-size: 18px;
    margin-bottom: 30px;
}

#newsletter label {
    font-weight: bold;
    font-size: 25px;
}

#newsletter input[type="email"] {
    width: 400px;
    height: 30px;
    font-size: 20px;
    font-weight: lighter
}

#newsletter input[type="submit"]{
    padding: 20px;
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 15px;
    padding: 16px 24px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#newsletter input[type="submit"]:hover{
    background-color: #034f85;
}

/*sigame*/

#sigame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sigame h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

#sigame a {
    font-size: 80px;
    margin: 8px;
    transition: 0.3s;
}

#sigame a:hover{
    filter: brightness(0.8);
}

.fab.fa-github-square {
    color: #333;
}

.fab.fa-instagram-square {
    color: #E4405F;
}

.fab.fa-youtube-square {
    color: #FF0000;
}

#sugestoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sugestoes h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

#sugestoes textarea {
    width: 500px;
    height: 200px;
    resize: none;
}

#sugestoes button {
    margin-top: 10px;
    margin-bottom: 3px;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: hsl(257, 11%, 16%);
    color: white;
    transition: 0.3s;
}
#sugestoes button:hover {
    background-color: hsl(257, 8%, 33%);
    cursor: pointer;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#sobre h2{
    padding-bottom: 15px;
    font-size: 35px;
}

#sobre p {
    font-size: 20px;
    text-align: justify;
}




